/* color */
/* bleu saphir: #05668D
/* bleu moyen : #427AA1
/* jeaune : #F5D547
/* bleu clair: #F5D547
/* lavande : #D8D8F6
/* blanc

/* --- Style global --- */
@media (max-width:576px) {
    .flux {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #05668D;
    color: white;
}

/* --- Style Header --- */
@media (max-width:576px) {
    .header {
        margin-left: 15px;
        margin-right: 15px;
        flex-direction: column;
    }
}

header {
    border-bottom: #F5D547 solid 1px;
    margin-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    color: #F5D547;
    font-size: 22px;
    padding-bottom: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}

.list-links {
    display: flex;
    column-gap: 30px;
    align-items: center;
    color: #F5D547;
}

.nav-links{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.nav-links a:hover {
    color: #D8D8F6;
    transition: width 0.2s ease-in-out;
}

.nav-links:hover::after {
    width: 2rem;
}


/* --- Style Main --- */
.cover {
    flex-direction: column;
}

.image-lien {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

section {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

.slider-container {
    max-width: 350px;
    position: relative;
    margin: auto;
    height: 280px;
    overflow: hidden;
    margin-bottom: 10px;
}

.dot {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.dot label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #F5D547;
    border-radius: 50px;
}

.dot label:hover,.menu label:focus {
    background: #D8D8F6;
}

.slide-input{
    opacity: 0;
}

.slide-img {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

p a {
    color:#F5D547
}
p a:hover {
    color:#D8D8F6
}

#dessin, #chorale, #piano, #batterie {
    color: #F5D547;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
}

/* --- Style footer --- */
footer {
    background-color: #F5D547;
    flex-direction: column;
    color: #05668D;
}

footer p {
    margin-top: 10px;    
}

footer a {
    display: inline;
}

footer a:hover {
    color: #D8D8F6;
}