/* color */
/* orange : F2542D
/* jaune : F5D547
/* gris : 4F5D75

/* --- Style global --- */
@media (max-width:576px) {
    .flux {
        margin-left: 15px;
        margin-right: 15px;
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Style Header --- */
@media (max-width:576px) {
    .header {
        margin-left: 15px;
        margin-right: 15px;
        flex-direction: column;
    }
}

header {
    border-bottom: #F5D547 solid 1px;
    margin-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    color: #F2542D;
    font-size: 22px;
    padding-bottom: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}

.list-links {
    display: flex;
    column-gap: 30px;
    align-items: center;
    color: #F2542D;
}

.nav-links{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.nav-links a:hover {
    color: #F5D547;
    transition: width 0.2s ease-in-out;
}

.nav-links:hover::after {
    width: 2rem;
}


/* --- Style Main --- */
.cover {
    flex-direction: column;
}

.image-lien {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
}